@import '../../common/styles/colors.scss'; 

$transition-time: 0.2s;

.tile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gainsboro;
    border-radius: 10px;
    background-color: white;
    min-height: 100px;
    overflow: hidden;
    margin: 15px;
    transition: box-shadow ease-in-out $transition-time;
    
    .action-icons-group {
        z-index: 4;
        position: absolute;
        right: 25px;
        top: 15px;
        display: flex;
        flex-flow: column;
        justify-items: normal;
        transition: all ease-in-out $transition-time;
        
        .tile-action-button {
            transition: all ease-in-out $transition-time;
        }
        
        &.hidden {
            transform: translateY(-10px);
            opacity: 0;
            
            & .tile-action-button {
                transform: scale(0.5);
            }
        }
    }
    
    .tile-action-button {
        position: relative;
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 25px;
        color: white;
        padding: 0;
        margin-top: 10px;
        width: 2rem;
        height: 2rem;
        border-radius: 100px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:focus {
            outline: none;
            outline-style: none;
            -moz-outline-style: none
        }

        .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .media-content-container {
        z-index: 2;
        flex: 1 1 auto;
        overflow-wrap: anywhere;

        &.media-text-container,
        &.media-link-container {
            font-size: 23px;
            padding: 10px 30px;
        }


        .tile-media-content {
            width: 100%;
            height: auto;
        }
    }

    .loading-indicator {
        color: $primary-color;
        position: absolute;
    }
}